# JSDoc generated documentation
docs/

# Grunt packages
node_modules/

# Client-side packages
bower_components/

# OS X garbage
.DS_STORE

# IntelliJ project files
mindmeld-js-sdk.iml
.idea/

# Development sandbox
sandbox/

# Search Widget
searchWidget/.sass-cache
searchWidget/css/main.css.map
