<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> ><! <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>MindMeld Voice Demo</title>
    <meta content='Voice nav' name='description'>
    <meta content='width=device-width' name='viewport'>

    <style type="text/css">
      body {
        background-image: url(./img/rottentomatoes-bg.png), url(./img/rottentomatoes-cloud.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #a9d5f7;
      }

      html, body {
        min-height: 100%; /* For bg image */
      }
    </style>
  </head>
  <body>
    <div class='main' role='main'>

      <a class='mm-voice-nav-init' href='#' id='toggle' style='position: absolute; top: 0; right: 0; color: red; padding: 5px 11px;'>Open Modal!</a>

    </div>

    <script id="card-template" type="text/template">
        <h2 class="title"><%= title %></h2>
        <% var desc = 'No Description';
        if (typeof description === 'string') {
            desc = description.substr(0, 150) + (description.length > 150 ? "&hellip;" : "");
        } %>
        <p class="description"><%= desc %></p>
        <% if (typeof image !== 'undefined' && image.url && image.url !== '') { %>
        <p class="image not-loaded">
            <img src="<%= image.url %>">
        </p>
        <% } %>
        <div class="mm-rt-row">
            <% if (typeof genre !== 'undefined' && genre && genre !== '') { %>
            <p class="align-left genre"><%= genre %></p>
            <% } else { %>
            <p class="align-left genre placeholder">No Genre</p>
            <% } %>
            <% if (typeof pubdate !== 'undefined' && pubdate && pubdate !== '') { %>
            <p class="align-right release-date">
                <% var date = new Date(pubdate * 1000); %>
                <%= (date.getMonth() + 1) + '/' + date.getDay() + '/' + date.getFullYear() %>
            </p>
            <% } else { %>
            <p class="align-right release-date placeholder">No release date</p>
            <% } %>
            <p class="clear-fix"></p>
        </div>
        <div class="mm-rt-row">
            <% if (typeof rating !== 'undefined' && rating && rating !== '') { %>
            <p class="align-left rating">
                <span class="rt-icon tiny <% print((parseInt(rating) < 60) ? 'rotten' : 'fresh'); %>"></span>
                <span class="rt-rating"> <%= rating %>%</span>
            </p>
            <% } else { %>
            <p class="align-left rating placeholder">No rating</p>
            <% } %>
            <% if (typeof reviewcount !== 'undefined' && reviewcount && reviewcount !== '') { %>
            <p class="align-right review-count">
                <%
                var scales = ['', 'k', 'M'];
                var scale = scales.shift();
                var value = parseInt(reviewcount);
                while (value > 1000 && scales.length > 0) {
                    scale = scales.shift(); // remove next scale
                    value = value / 1000;
                }
                %>
                (<%= Math.floor(value) + scale %> reviews)
            </p>
            <% } else { %>
            <p class="align-right review-count placeholder">No reviews</p>
            <% } %>
            <p class="clear-fix"></p>
        </div>
    </script>
    <script id="card-template-mobile" type="text/template">
        <h2 class="title"><%= title %></h2>
        <% var desc = 'No Description';
        if (typeof description === 'string') {
            desc = description.substr(0, 150) + (description.length > 150 ? "&hellip;" : "");
        } %>
        <p class="description"><%= desc %></p>
        <% if (typeof image !== 'undefined' && image.url && image.url !== '') { %>
        <p class="image not-loaded">
            <img src="<%= image.url %>">
        </p>
        <% } %>
        <div class="mm-rt-row">
            <% if (typeof genre !== 'undefined' && genre && genre !== '') { %>
            <p class="align-left genre"><%= genre %></p>
            <% } else { %>
            <p class="align-left genre placeholder">No Genre</p>
            <% } %>
            <% if (typeof pubdate !== 'undefined' && pubdate && pubdate !== '') { %>
            <p class="align-right release-date">
                <% var date = new Date(pubdate * 1000); %>
                <%= (date.getMonth() + 1) + '/' + date.getDay() + '/' + date.getFullYear() %>
            </p>
            <% } else { %>
            <p class="align-right release-date placeholder">No release date</p>
            <% } %>
            <p class="clear-fix"></p>
        </div>
        <div class="mm-rt-row">
            <% if (typeof rating !== 'undefined' && rating && rating !== '') { %>
            <p class="align-left rating">
                <span class="rt-icon tiny <% print((parseInt(rating) < 60) ? 'rotten' : 'fresh'); %>"></span>
                <span class="rt-rating"> <%= rating %>%</span>
            </p>
            <% } else { %>
            <p class="align-left rating placeholder">No rating</p>
            <% } %>
            <% if (typeof reviewcount !== 'undefined' && reviewcount && reviewcount !== '') { %>
            <p class="align-right review-count">
                <%
                var scales = ['', 'k', 'M'];
                var scale = scales.shift();
                var value = parseInt(reviewcount);
                while (value > 1000 && scales.length > 0) {
                    scale = scales.shift(); // remove next scale
                    value = value / 1000;
                }
                %>
                (<%= Math.floor(value) + scale %> reviews)
            </p>
            <% } else { %>
            <p class="align-right review-count placeholder">No reviews</p>
            <% } %>
            <p class="clear-fix"></p>
        </div>
    </script>
    <script type="application/javascript">
        var VOICE_NAV_APPS = {
            'west-dev-d': {
                movieGenius: '2befc7c6ea69d12c0a34acb30c7152027cc37c78',
                techNews: '9a6721de8eabe1c378cc6e26468b9cff4a952dbd',
                recipeAssistant: 'b3acdcf114048e7e689503cb3a76cc8916f7b80d'
            },
            'west-dev-e': {
                movieGenius: 'ad666f13daeb5c36f6f2c3a11ec8b5d3d01467a0',
                techNews: '0bb356bc9b8507c5110174cd0a59d09dc5e19b89',
                recipeAssistant: '86c8eaaa345fe3c35527d8fe0d724cacff8411ff'
            },
            'west-prod-a': {
                movieGenius: 'f8587c112dbecc5d7d42d2c81cac6a0fc0671743',
                techNews: '53b2d92f34d89e1df16897cd7e1be5e23d990b79',
                recipeAssistant: '5e87d2fc46afcec7dd6680e675e92c61d60a67c3'
            }
        };
        var DEMO_ENVIRONMENT = 'west-dev-e';
    </script>
    <script type="application/javascript">
        var MM = window.MM || {};
        (function (MM) {
            MM.loader = MM.loader || {};
            MM.loader.rootURL = '//' + window.location.host + '/dist/';
            MM.loader.widgets = ['voice'];

            MM.widgets = MM.widgets || {};
            MM.widgets.config = {
                appID: VOICE_NAV_APPS[DEMO_ENVIRONMENT]['movieGenius'],
                cleanUrl: 'https://api-' + DEMO_ENVIRONMENT + '.expectlabs.com/',
                fayeClientUrl: 'https://push-' + DEMO_ENVIRONMENT + '.expectlabs.com:443/faye',
                voice: {
                    development: true,
//                    preventLinks: true,
//                    cardAnchorTarget: '_blank',
//                    listeningMode: 'continuous',
                    numResults: 4,
                    cardTemplate: window['card-template'].innerHTML,
                    cardTemplateMobile: window['card-template-mobile'].innerHTML,
                    //customCSS: 'body{background-color:blue}',
                    //customCSSMobile: 'body{background-color:red}',
                    customCSSURL: './css/movieGenius.css',
                    customCSSMobileURL: './css/movieGeniusMobile.css',
//                    cardFields: []
                }
            };

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = MM.loader.rootURL + 'embed.js';
            document.body.appendChild(script);
        })(MM);
    </script>
  </body>
</html>

