input[type="search"].mm-search {
    -webkit-appearance: searchfield;
    -moz-appearance: searchfield;
    width: 200px;
}

span.ui-helper-hidden-accessible[role="status"] {
    display: none;
}

ul.ui-autocomplete {
    border: 1px solid #ddd;
    padding: 2px;
    margin: 0;
    position: absolute;
    width: 300px;
}

.group:after {
    content: " ";
    display: table;
    clear: both;
}

li.docListItem {

    list-style: none;
    border-bottom: 1px dotted #BBD0E0;
    padding: 10px;
    

    &:hover {
        background: rgba(245, 253, 255, 0.63);
    }

    &:last-child {
        border-bottom: none;
    }

    a {
        text-decoration: none;
        
        .docListWrapper {

            span.docTitle {
                color: #005985;
                font: 1rem Arial, "Helvetica Neue", Helvetica, sans-serif;

            }

            p.textBlurb {
                color: #A7A7A7;
                font: .75rem Arial, sans-serif;
            }

            .docContentWithImage {
                margin-top: 5px;

                display: table;
                max-width: 400px;

                .docImg,
                .docDetails {
                    display: table-cell;
                    vertical-align: middle;
                }
                .docImg {
                    width: 40%;
                    .docImgFile {
                        width: 100%;
                    }
                }
                .docDetails {
                    width: 60%;
                    .textBlurb {
                        padding-left: 10px;
                    }
                }
            }
            
            .docContentWithoutImage {
                margin-top: 5px;
                p.textBlurb {
                    margin: 0;
                    text-align: left;
                    word-break: keep-all;
                }
            }
        }
    }
}