span.ui-helper-hidden-accessible[role="status"] {
    display: none;
}

ul.ui-autocomplete {
    border: 1px solid #ddd;
    padding: 2px;
    margin: 0;
    position: absolute;
}

.group:after {
    content: " ";
    display: table;
    clear: both;
}

li.docListItem {

//background: rgba(214, 247, 255, 0.67);
     &:hover {
        background: rgba(245, 253, 255, 0.63);
    }
    &:last-child {
        border-bottom: none;
    }


    list-style: none;
    border-bottom: 1px dotted #BBD0E0;
    padding: 10px;

    a {
        text-decoration: none;
        
        .docListWrapper {
            span.docTitle {
                color: #005985;
                font: 1rem Arial, "Helvetica Neue", Helvetica, sans-serif;

            }

            .docContentWithImage {

                display: table;
                max-width: 400px;

                .docImg,
                .docDetails {
                    display: table-cell;
                    vertical-align: middle;
                }
                .docImg {
                    width: 40%;
                    .docImgFile {
                        width: 100%;
                    }
                }
                .docDetails {
                    width: 60%;
                    .textBlurb {
                        padding-left: 10px;
                        color: #A7A7A7;
                        font: 1em Arial, sans-serif;

                    }
                }
            }


        }
    }
}