mobile = "only screen and (min-device-width : 320px) and (max-device-width : 480px)"

#cards
  height 1px
  padding 10px
  background-color #f9f9f9
  background #f3f3f3
  @media mobile
    width 259px
    margin auto
  &.loading
    opacity 0.3
  .card
    text-decoration none
    display block
    width 218px
    background-color #fff
    border-radius 7px
    margin 10px
    padding 15px 0px 5px
    box-shadow 0 0 6px rgba(0,0,0,0.2)
    &:hover
      box-shadow 0 0 6px rgba(0,0,0,0.2), 0 0 1px #191920
      text-decoration none
      .title
        color darken(#636363, 55%)

    .title
      color #636363
      font-size 15px
      font-family 'Open Sans', sans-serif
      margin 0 15px

    p.image
      width 100%
      text-align center
      margin 5px 0
      line-height initial
      &.not-loaded
        height 100px
        overflow hidden
        background #ddd url(./spinner.gif)  no-repeat center
        img
          opacity 0
      img
        width 100%
    img
      max-width 100%
    p
      font-size 11px
      line-height 1.5em
      margin 10px 15px
      color #888

    p.mm-doc-field
      margin 2px inherit
      .label
        color #888
        margin-right 4px
        font-size smaller

    .source
      display block
      font-size 11px
      color #999
      padding 15px 15px 0
      img
        margin-right 10px

  .no-results
    text-align center
    margin-top 40px
    font-size 30px
    font-style italic
    color #aaa