/*! jQuery UI - v1.10.4 - 2014-04-14
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=2px&bgColorHeader=dddddd&bgTextureHeader=highlight_soft&bgImgOpacityHeader=50&borderColorHeader=dddddd&fcHeader=444444&iconColorHeader=0073ea&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=dddddd&fcContent=444444&iconColorContent=ff0084&bgColorDefault=f6f6f6&bgTextureDefault=highlight_soft&bgImgOpacityDefault=100&borderColorDefault=dddddd&fcDefault=0073ea&iconColorDefault=666666&bgColorHover=0073ea&bgTextureHover=highlight_soft&bgImgOpacityHover=25&borderColorHover=0073ea&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=dddddd&fcActive=ff0084&iconColorActive=454545&bgColorHighlight=ffffff&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=cccccc&fcHighlight=444444&iconColorHighlight=0073ea&bgColorError=ffffff&bgTextureError=flat&bgImgOpacityError=55&borderColorError=ff0084&fcError=222222&iconColorError=ff0084&bgColorOverlay=eeeeee&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
/* line 10, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-hidden {
  display: none;
}

/* line 14, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 25, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 36, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
/* line 37, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-clearfix:before {
  content: "";
  display: table;
  border-collapse: collapse;
}
/* line 42, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both;
}

/* line 52, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 62, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 69, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 78, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 90, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 98, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable {
  position: relative;
}

/* line 102, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 108, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 112, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 120, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 128, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 136, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 144, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 152, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 160, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 168, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 176, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 183, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */
}
/* line 192, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}
/* line 195, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}
/* line 198, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
/* line 201, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}
/* line 207, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

/* line 214, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

/* line 221, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */
  text-decoration: none;
}
/* line 233, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
/* line 240, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-icon-only {
  width: 2.2em;
}

/* button elements seem to need a little more width */
/* line 246, ../sass/_jquery-ui-1.10.4.flick.scss */
button.ui-button-icon-only {
  width: 2.4em;
}

/* line 250, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-icons-only {
  width: 3.4em;
}

/* line 254, ../sass/_jquery-ui-1.10.4.flick.scss */
button.ui-button-icons-only {
  width: 3.7em;
}

/* button text element */
/* line 260, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

/* line 265, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}

/* line 269, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

/* line 274, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}

/* line 278, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-text-icon-secondary .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}

/* line 282, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* no icon support for input elements, provide padding by default */
/* line 290, ../sass/_jquery-ui-1.10.4.flick.scss */
input.ui-button {
  padding: .4em 1em;
}

/* button icon element(s) */
/* line 296, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 302, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* line 307, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}

/* line 311, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}

/* button sets */
/* line 317, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-buttonset {
  margin-right: 7px;
}
/* line 319, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
/* line 328, ../sass/_jquery-ui-1.10.4.flick.scss */
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 333, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
/* line 337, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
/* line 341, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
/* line 347, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
/* line 350, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
/* line 353, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
/* line 356, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
/* line 359, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
/* line 362, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
/* line 370, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
/* line 374, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
/* line 380, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
/* line 384, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
/* line 390, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
/* line 396, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
/* line 399, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
/* line 406, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
/* line 413, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
/* line 420, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* line 425, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

/* with multiple calendars */
/* line 432, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
/* line 434, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

/* line 440, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 444, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 448, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 453, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
/* line 456, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 461, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
/* line 469, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl {
  direction: rtl;
}
/* line 471, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
/* line 475, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
/* line 479, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
/* line 483, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
/* line 487, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
/* line 489, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
/* line 491, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
/* line 496, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
/* line 499, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* line 505, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}
/* line 512, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}
/* line 516, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 524, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}
/* line 533, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}
/* line 540, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}
/* line 546, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
/* line 549, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
/* line 554, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}

/* line 563, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* line 567, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}
/* line 573, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}
/* line 577, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  /* support: IE10, see #8844 */
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
/* line 584, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
/* line 591, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  /* support: IE7 */
  font-weight: normal;
}
/* line 599, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
/* line 604, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}
/* line 608, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-state-disabled a {
  cursor: default;
}

/* icon support */
/* line 616, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu-icons {
  position: relative;
}
/* line 618, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}

/* left-aligned */
/* line 627, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}
/* line 632, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

/* right-aligned */
/* line 640, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
/* line 644, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}
/* line 648, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-progressbar .ui-progressbar-overlay {
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 655, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

/* line 659, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider {
  position: relative;
  text-align: left;
}
/* line 662, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
/* line 669, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
/* line 678, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* For IE8 - See #6727 */
/* line 686, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-horizontal {
  height: .8em;
}
/* line 688, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
/* line 692, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
/* line 696, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
/* line 699, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 704, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
/* line 707, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
/* line 712, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
/* line 716, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
/* line 719, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* line 724, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

/* line 732, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}

/* line 743, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}

/* more specificity required here to override default borders */
/* line 760, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
/* line 765, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0;
}

/* vertically center icon */
/* line 775, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner-up {
  top: 0;
}

/* line 779, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner-down {
  bottom: 0;
}

/* TR overrides */
/* line 785, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px;
}

/* line 790, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs {
  position: relative;
  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
}
/* line 794, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}
/* line 797, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 807, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}
/* line 813, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
/* line 816, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: text;
}
/* line 820, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text;
}

/* line 827, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

/* line 831, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}

/* line 838, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

/* line 847, ../sass/_jquery-ui-1.10.4.flick.scss */
body .ui-tooltip {
  border-width: 2px;
}

/* Component containers
----------------------------------*/
/* line 854, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.1em;
}
/* line 857, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}
/* line 860, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
}

/* line 866, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-content {
  border: 1px solid #dddddd;
  background: white 50% 50% repeat-x;
  color: #444444;
}
/* line 870, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-content a {
  color: #444444;
}

/* line 875, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #dddddd 50% 50% repeat-x;
  color: #444444;
  font-weight: bold;
}
/* line 880, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-header a {
  color: #444444;
}

/* Interaction states
----------------------------------*/
/* line 888, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #dddddd;
  background: #f6f6f6  50% 50% repeat-x;
  font-weight: bold;
  color: #0073ea;
}

/* line 895, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-default a {
  color: #0073ea;
  text-decoration: none;
}
/* line 898, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-default a:link, .ui-state-default a:visited {
  color: #0073ea;
  text-decoration: none;
}

/* line 905, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #f5f5ff;
  background: #f5f5ff 50% 50% repeat-x;
  font-weight: bold;
  color: #ffffff;
}

/* line 912, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-hover a {
  color: #ffffff;
  text-decoration: none;
}
/* line 915, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 921, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-focus a {
  color: #ffffff;
  text-decoration: none;
}
/* line 924, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 930, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #dddddd;
  background: white  50% 50% repeat-x;
  font-weight: bold;
  color: #ff0084;
}

/* line 937, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-active a {
  color: #ff0084;
  text-decoration: none;
}
/* line 940, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-active a:link, .ui-state-active a:visited {
  color: #ff0084;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
/* line 949, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #cccccc;
  background: white 50% 50% repeat-x;
  color: #444444;
}

/* line 955, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #444444;
}

/* line 959, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #ff0084;
  background: white 50% 50% repeat-x;
  color: #222222;
}

/* line 965, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #222222;
}

/* line 969, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 973, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 979, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 985, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
/* line 995, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon {
  width: 16px;
  height: 16px;
}

/* positioning */
/* line 1006, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-blank {
  background-position: 16px 16px;
}

/* line 1010, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 1014, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 1018, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 1022, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 1026, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 1030, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 1034, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 1038, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 1042, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 1046, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 1050, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 1054, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 1058, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 1062, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 1066, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 1070, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 1074, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 1078, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 1082, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 1086, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 1090, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 1094, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 1098, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 1102, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 1106, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 1110, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 1114, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 1118, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 1122, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 1126, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 1130, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 1134, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 1138, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 1142, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 1146, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 1150, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 1154, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 1158, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 1162, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 1166, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 1170, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 1174, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 1178, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 1182, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 1186, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 1190, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 1194, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 1198, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 1202, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 1206, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 1210, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 1214, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 1218, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 1222, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 1226, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 1230, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 1234, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 1238, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 1242, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 1246, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 1250, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 1254, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 1258, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 1262, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 1266, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 1270, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 1274, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 1278, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 1282, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 1286, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 1290, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 1294, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 1298, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 1302, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 1306, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 1310, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 1314, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 1318, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 1322, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 1326, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 1330, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 1334, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 1338, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 1342, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 1346, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 1350, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 1354, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 1358, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 1362, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 1366, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 1370, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 1374, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 1378, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 1382, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 1386, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 1390, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 1394, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 1398, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 1402, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 1406, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 1410, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 1414, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 1418, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 1422, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 1426, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 1430, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 1434, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 1438, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 1442, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 1446, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 1450, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 1454, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 1458, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 1462, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 1466, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 1470, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 1474, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 1478, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 1482, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 1486, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 1490, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 1494, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 1498, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 1502, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 1506, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 1510, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 1514, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-radio-on {
  background-position: -96px -144px;
}

/* line 1518, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-radio-off {
  background-position: -112px -144px;
}

/* line 1522, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 1526, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 1530, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 1534, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 1538, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 1542, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 1546, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 1550, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-seek-start, .ui-icon-seek-first {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* line 1556, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 1560, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 1564, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 1568, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 1572, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 1576, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 1580, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 1584, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 1588, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 1592, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 1596, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 1600, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 1604, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 1608, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 1612, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 1616, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 1620, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 1624, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 1628, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 1632, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 1636, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 1640, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 1644, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 1648, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 1652, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 1656, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 1660, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 1664, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 1668, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 1672, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 1676, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 1680, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 1684, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 1688, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 1692, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 1696, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 1700, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
/* line 1709, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 2px;
}

/* line 1713, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 2px;
}

/* line 1717, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 2px;
}

/* line 1721, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 2px;
}

/* Overlays */
/* line 1727, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-overlay {
  background: #eeeeee 50% 50% repeat-x;
  opacity: .8;
  filter: Alpha(Opacity=80);
}

/* line 1733, ../sass/_jquery-ui-1.10.4.flick.scss */
.ui-widget-shadow {
  margin: -4px 0 0 -4px;
  padding: 4px;
  background: #aaaaaa 50% 50% repeat-x;
  opacity: .6;
  filter: Alpha(Opacity=60);
  border-radius: 0px;
}

/* line 2, ../sass/_searchWidget.scss */
ul.ui-autocomplete {
  width: 350px;
}

/* line 6, ../sass/_searchWidget.scss */
li.docListItem {
  border-bottom: 1px dotted #BBD0E0;
  list-style: none;
  padding: 10px 20px;
  z-index: 5;
  background: #fff;
  opacity: 1;
  -moz-box-shadow: inset 1px 0px 1px 0 #E0E0E0;
  -webkit-box-shadow: inset 1px 0px 1px 0 #E0E0E0;
  box-shadow: inset 1px 0px 1px 0 #E0E0E0;
}
/* line 17, ../sass/_searchWidget.scss */
li.docListItem:first-child {
  -moz-box-shadow: inset 1px 1px 1px 0 #E0E0E0;
  -webkit-box-shadow: inset 1px 1px 1px 0 #E0E0E0;
  box-shadow: inset 1px 1px 1px 0 #E0E0E0;
}
/* line 23, ../sass/_searchWidget.scss */
li.docListItem .docListWrapper {
  min-height: 113px;
}
/* line 28, ../sass/_searchWidget.scss */
li.docListItem .docTitle {
  color: #005985;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}
/* line 35, ../sass/_searchWidget.scss */
li.docListItem .docContent .docImg {
  float: left;
}
/* line 38, ../sass/_searchWidget.scss */
li.docListItem .docContent .docImg .docImgFile {
  width: 100px;
  max-height: 85px;
  border: 1px solid #327293;
}
/* line 45, ../sass/_searchWidget.scss */
li.docListItem .docContent .docDetails {
  float: right;
  width: 200px;
  margin-right: 10px;
}
/* line 52, ../sass/_searchWidget.scss */
li.docListItem .docContent .docDetails .date,
li.docListItem .docContent .docDetails .textBlurb {
  color: #A7A7A7;
  font-size: 11px;
  word-break: break-all;
}
