doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="IE=edge,chrome=1", "http-equiv"="X-UA-Compatible")
    title Mindmeld Voice Nav
    meta(content="MindMeld Voice Navigator", name="description")
    meta(content="width=device-width", name="viewport")
    link(href='//fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href="./modal.min.css", rel="stylesheet", type="text/css")
  body
    #mindmeld-overlay
    #mindmeld-alert
      .mm-mic
        svg#icon-alert-microphone(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve")
          path#mic(d="M16,21.625c2.682,0,4.875-2.25,4.875-5V6.375c0-2.75-2.193-5-4.875-5c-2.682,0-4.875,2.25-4.875,5v10.25  C11.125,19.375,13.318,21.625,16,21.625z M21.876,11.5v5.125c0,3.309-2.636,6-5.876,6s-5.875-2.691-5.875-6V11.5H7.126v5.125  c0,4.443,3.194,8.132,7.372,8.861v2.139h-3.372v3h9.749v-3h-3.376v-2.139c4.181-0.729,7.375-4.418,7.375-8.861V11.5H21.876z")
      .mm-p
        p Enable the mic to search
        p
          a#mm-alert-dismiss(href='#') Dismiss
    #mindmeld-parent
      #mm-pulser
      #mm-button.status-pending
        a#mm-button-icon.mm-button-icon
          .bubbles
          #icon-microphone
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve")
              path#mic(d="M16,21.625c2.682,0,4.875-2.25,4.875-5V6.375c0-2.75-2.193-5-4.875-5c-2.682,0-4.875,2.25-4.875,5v10.25  C11.125,19.375,13.318,21.625,16,21.625z M21.876,11.5v5.125c0,3.309-2.636,6-5.876,6s-5.875-2.691-5.875-6V11.5H7.126v5.125  c0,4.443,3.194,8.132,7.372,8.861v2.139h-3.372v3h9.749v-3h-3.376v-2.139c4.181-0.729,7.375-4.418,7.375-8.861V11.5H21.876z")
          #icon-mute
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve")
              path#mic_mute(d="M10.216,19.019C9.898,18.282,9.72,17.47,9.72,16.614v-5.125H6.721v5.125c0,1.693,0.466,3.275,1.271,4.627  L10.216,19.019z M20.47,8.765V6.364c0-2.75-2.193-5-4.875-5c-2.683,0-4.875,2.25-4.875,5v10.25c0,0.568,0.112,1.105,0.285,1.615  L20.47,8.765z M21.471,13.42v3.195c0,3.308-2.636,6-5.876,6c-0.958,0-1.861-0.24-2.661-0.657l-2.179,2.18  c0.994,0.658,2.123,1.127,3.338,1.354v2.144h-3.372v3h9.749v-3h-3.376v-2.146c4.181-0.729,7.375-4.43,7.375-8.861v-5.139h-1.067  L21.471,13.42z M20.47,16.614V14.42l-6.788,6.788c0.588,0.26,1.233,0.405,1.913,0.405C18.276,21.614,20.47,19.364,20.47,16.614z   M25.637,5.011L4.949,25.698l1.415,1.416L27.051,6.426L25.637,5.011z")
          #icon-lock
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
              path(d="M78.466,41.435h-3.21V21.018C75.256,9.428,64.15,0,50.5,0S25.744,9.428,25.744,21.018h0.001v20.417h-3.21  c-4.394,0-7.989,3.595-7.989,7.989v42.587c0,4.395,3.595,7.989,7.989,7.989h55.931c4.395,0,7.989-3.595,7.989-7.989V49.424  C86.455,45.03,82.86,41.435,78.466,41.435z M57.465,85.805H43.536l2.812-15.02c-2.337-1.41-3.905-3.968-3.905-6.896  c0-4.449,3.608-8.058,8.057-8.058c4.451,0,8.056,3.608,8.056,8.058c0,2.929-1.568,5.486-3.904,6.896L57.465,85.805z M64.646,41.435  H36.354V21.018h0c0-5.642,6.478-10.408,14.146-10.408c7.668,0,14.146,4.767,14.146,10.408V41.435z")
        .mm-longhold
          .off hold to lock
          .on click to release

      #mindmeld
        a#history-button(href="#") Expand History
        a#close(href="#") &times;

        #history-wrapper
          #history
            #history-data
              ul
                li.on Enable the microphone...

              textarea.editable

        #results
          .inner-content-div
            #tags
            #cards
               .card.removed.single-column-fix

    audio(id="audio-done", src="./done.wav", preload="auto")
    script(src="./modal.min.js", type="text/javascript")
