<?js
	var data = obj;
	var self = this;

    data.forEach(function(example) {
        if (example.caption) { ?>
            <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
        <?js var code = example.code; ?>
        <?js if (code.toString().indexOf('<pre>') === -1) { ?>
            <pre class="prettyprint"><code><?js= self.htmlsafe(code) ?></code></pre>
        <?js } else { ?>
            <?js= code.replace(/<pre>/g, '<pre class="prettyprint">') ?>
        <?js }
    }); ?>